<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ciutats</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
<h1>Ciutats</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Poblacio</th>
        <th>Provincia</th>
    </tr>
    <tr th:each="c : ${ciutats}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.nom}"></td>
        <td th:text="${c.poblacio}"></td>
        <td th:text="${c.provincia.nom}"></td>
    </tr>
</table>
</body>
</html>
