<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Franquicies</title>
  <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
<h1>Franquicies</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Descripcio</th>
    <th>Ciutats</th>
  </tr>
  <tr th:each="f : ${franquicies}">
    <td th:text="${f.id}"></td>
    <td th:text="${f.descripcio}"></td>
    <td>
      <ul>
        <li th:each="c : ${f.ciutats}" th:text="${c.nom}"></li>
      </ul>
    </td>
  </tr>
</table>
</body>
</html>
