<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projecte CiutatsDB</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>
<body>
    <h1>INDEX DE LES TAULES</h1>
    <button>
        <a href="/paisos"><p>Països</p></a>
    </button>
    <button>
        <a href="/provincies"><p>Provincies</p></a>
    </button>
    <button>
        <a href="/ciutats"><p>Ciutats</p></a>
    </button>
    <button>
        <a href="/franquicies"><p>Franquicies</p></a>
    </button>
</body>
</html>